@import "discourse/button";

%action-button {
  @include btn(
    $text-color: $white,
    $bg-color: $btn-action-color,
    $icon-color: $white,
    $hover-text-color: $white,
    $hover-bg-color: lighten($btn-action-color, 10%),
    $hover-icon-color: $white
  );
  border-radius: 0.625rem;
}

.btn-text {
  border-radius: 0;
  border: none;
  background: transparent;
}

.btn-default,
.widget-button {
  border-radius: $border-radius;
}

.btn-action,
.btn-primary,
.widget-button.reply {
  @extend %action-button;
}

.btn-dark {
  @include btn(
    $text-color: $white,
    $bg-color: $dark,
    $icon-color: $white,
    $hover-text-color: $white,
    $hover-bg-color: lighten($dark, 10%),
    $hover-icon-color: $white
  );
  border-radius: $border-radius;
}

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-lg {
  padding: $btn-padding-y-lg $btn-padding-x-lg;
}

// Auth social buttons and email button and email button
.btn.btn-social,
.btn.login-with-email-button {
  height: 40px;
}
