.dc-card {
  background: #fbfbfb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-top: 0.25rem solid transparent;
  display: flex;
  height: $dc-card-height;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 1rem;

  &,
  &:visited,
  &:active {
    color: $primary;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  // to being able to overwrite #list-area h2 rule
  #list-area &__title,
  &__title {
    color: $primary;
    text-transform: capitalize;
    font-size: $dc-font-size-lg;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  &__title ~ &__meta {
    margin-top: -0.625rem;
  }

  &__text {
    @include dc-text-light($dc-font-size-sm);
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      margin: 0;
    }
  }
}
