.dc-card {
  background: $beige;
  box-shadow: $card-box-shadow;
  border-top: 0.25rem solid transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  @include make-container;

  &,
  &:hover,
  &:visited,
  &:active {
    color: $body-color;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  // to being able to overwrite #list-area h2 rule
  #list-area &__title,
  &__title {
    color: $body-color;
    text-transform: capitalize;
    font-size: $font-size-lg;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  &__title ~ &__meta {
    margin-top: -0.625rem;
  }

  &__text {
    @include dc-text-light($font-size-sm);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title.has-icon {
    position: relative;

    @include media-breakpoint-up(sm) {
      // Enough space to likes and comments up to 9k both
      padding-right: 10rem;
    }

    .dc-card__meta {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    p {
      margin: 0;
    }

    .reply-icon {
      font-size: $font-size-sm;
      margin: 0;
      position: relative;
      top: $spacer * 0.125;
    }
  }
}

.dc-category.dc-card {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.icons-line {
  display: flex;

  &-item {
    display: flex;

    & + & {
      margin-left: $spacer/1.5;
    }
  }

  .dc-icon + &-label {
    @extend .dc-text-light;
    margin: 0 0 0 $spacer/5;
  }
}
