// This solution has strong support on Safari and Chrome which are the main users we have
@mixin clamp-text($lines: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
