body {
  // !important to disable the 'Category Background Image' feature
  background: $background-gradient !important;

  // Up to some extend #main is the actual "body" of the page
  &,
  #main {
    min-height: 100%;
  }
}

#main {
  // variable created with theme settings
  padding-top: 5rem;

  @if $header-discourse-visible {
    padding-top: 0rem;
  }
}

// Container we use is neither fluid or typical container from bootstrap. Instead, is a fluid with a max-width
%custom-container {
  @include make-container;
  max-width: map-get($map: $container-max-widths, $key: "xl");
}

.wrap {
  @extend %custom-container;
}

// Make sure when rendering categories-and-latest we remove margin since "latest" has been removed
.categories-and-latest.categories-and-latest .column.categories {
  margin: 0;
}

// Make easier for development
.create-topics-notice {
  display: none;
}
