.discourse-no-touch #login-form {
  margin: 0 auto;
}

#login-form {
  td {
    padding-right: 0;
  }
}

.login-modal.in:before {
  content: "";
  height: 100vh;
  width: 100vw;
  background: $background-gradient;
  position: fixed;
  z-index: -1;
  animation: none;
}

.create-account.in .modal-inner-container,
.login-modal.in .modal-inner-container {
  animation: none;
  width: 440px;
}

#credentials tr {
  display: flex;
  flex-direction: column;
}

// Modal customizations
.modal-inner-container {
  box-shadow: $card-box-shadow;
}

.d-modal.login-modal {
  .modal-body,
  #credentials {
    flex-direction: column;
    padding: 0;
  }

  .modal-body {
    form {
      width: 100%;
    }

    .forgot-password {
      padding-top: 0.5rem;
      justify-content: flex-end;
    }

    #forgot-password-link {
      float: right;
    }
  }

  .modal-header {
    border-bottom: none;

    .title {
      text-align: center;
      width: 100%;
    }

    .modal-close {
      position: fixed;
      top: 15px;
      right: 15px;
    }
  }

  .modal-inner-container {
    position: relative;
  }

  // dc-logo is rendered inside the modal
  // we put it on top of the modal with css
  .dc-logo {
    position: absolute;
    top: -95px; // 80px logo height + 15px padding
    text-align: center;
    width: 100%;

    img {
      height: 80px;
    }
  }

  // Login button container
  .auth-footer {
    border-top: none;
    margin-top: 0.5rem;
    padding: 0 24px;
    position: relative;
    width: 100%;

    #login-button {
      width: 100%;
      text-align: center;
      // same value as the .btn class
      min-height: 40px;
    }

    // spinner to appear on top of button
    .loading-container {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

// this is the section with the social buttons
.auth-social {
  width: 100%;
  padding-bottom: 1.5rem;

  .auth-social-buttons {
    #login-buttons {
      &:not(.hidden) {
        button {
          margin: 0.25rem 0;

          &:first-of-type {
            margin-top: 0;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .auth-divider {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    height: 0px;

    hr {
      margin: 0;
    }

    small {
      position: relative;
      background: white;
      padding: 0 1rem;
      top: -12px;
    }
  }
}
