body {
  font-family: $dc-font-family-sans-serif;
}

.dc-heading {
  font-size: 2rem;
}

@mixin dc-text-light($size: inherit) {
  color: $primary;
  font-weight: 300;
  font-size: $size;
}

.dc-text-light {
  @include dc-text-light;
}
