body {
  .list-controls {
    display: block;
  }

  &.navigation-categories {
    .list-controls {
      display: none;
    }
  }
}

.list-controls {
  margin-bottom: 1.5rem;

  .btn {
    font-size: $font-size-base;
  }

  .select-kit.categories-admin-dropdown,
  .select-kit.tags-admin-dropdown,
  .select-kit.category-notifications-button,
  .select-kit.tag-notifications-button,
  .navigation-container {
    display: flex;
    align-items: center;
  }

  .navigation-container {
    display: flex;
    flex-direction: column;
  }

  #create-topic,
  .btn {
    order: 1;
  }

  .select-kit {
    order: 2;
  }

  .select-kit,
  .select-kit.dropdown-select-box .dropdown-select-box-header,
  .btn {
    border-radius: $border-radius;
  }

  .btn,
  .select-kit:not(.category-drop) {
    margin-left: $spacer;
  }

  .select-kit > .btn {
    margin: 0;
  }

  .nav,
  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }

  .select-kit-collection .select-kit-row.category-row {
    max-width: 100%;
  }
}
