body {
  .list-controls {
    display: block;
  }

  &.navigation-categories {
    .list-controls {
      display: none;
    }
  }
}

.list-controls {
  .select-kit.categories-admin-dropdown,
  .select-kit.tags-admin-dropdown,
  .select-kit.category-notifications-button,
  .select-kit.tag-notifications-button,
  .navigation-container {
    display: flex;
    align-items: center;
  }

  #navigation-bar {
    margin-right: auto;
  }

  ol.category-breadcrumb {
    margin-bottom: 0;
  }

  ol.category-breadcrumb li {
    margin-right: 0;
  }

  #create-topic,
  .btn {
    order: 1;
  }

  .select-kit {
    order: 2;
  }

  .select-kit,
  .select-kit.dropdown-select-box .dropdown-select-box-header,
  .btn {
    border-radius: $border-radius;
  }

  .btn,
  .select-kit:not(.category-drop) {
    margin-left: $spacer;
  }

  .select-kit > .btn {
    margin: 0;
  }

  .navigation-container > * {
    margin-bottom: 0;
  }

  .nav,
  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }

  .category-navigation {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
