// to allow overwrite .topic-list rule
.topic-list.topic-list {
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.topic-list-icons .d-icon-thumbtack,
.topic-list .d-icon-thumbtack,
.latest-topic-list .d-icon-thumbtack,
.top-topic-list .d-icon-thumbtack {
  color: $black;
}
