.category-for-profit-colleges-collective {
  .category-icon {
    background-image: url("http://localhost:8080/for-profit-colleges-collective-icon@2x.png");
    height: 95px;
    width: 75px;
    display: block;
    background-size: contain;
    margin-bottom: 20px;
  }
}