.category-for-profit-colleges-collective {
  .category-icon {
    background-image: url('/plugins/discourse-theme/images/for-profit-colleges-collective-icon@2x.png');
    height: 95px;
    width: 75px;
    display: block;
    background-size: contain;
    margin-bottom: 20px;
  }
}
