.topic-post {
  margin-bottom: 1em;

  .topic-body, .topic-avatar {
    background-color: $white;
    border-top: 1px solid $text-3;
    border-bottom: 1px solid $text-3;
  }

  .topic-body {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid $text-3;

    &.highlighted {
      animation: none;
    }
  }

  .topic-avatar {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid $text-3;
  }

  .topic-meta-data {
    .username {
      a {
        color: $text-0;
      }
    }
  }
}