$white: #ffffff;

$dc-red: #ff4630 !default;
$principal-green: #24ba9d !default;

$ex-blue: #007fff !default;
$ex-red: #f23f56 !default;
$ex-green: #70de54 !default;
$ex-purple: #9460d6 !default;
$ex-orange: #f17129 !default;
$ex-yellow: #ffc957 !default;

$ex-blue-tint: #a6dfff !default;
$ex-red-tint: #ffb5c2 !default;
// $ex-green-tint: #d8ffba !default;
// $ex-purple-tint: #dcc6f7 !default;
// $ex-orange-tint: #ffb78f !default;
// $ex-yellow-tint: #ffef9e !default;

// $highlighter: $ex-yellow-tint;
$bg-blue: #dbf8ff !default;
$bg-tan: #fffdf2 !default;
$text-0: #2b2b2b !default;
$text-1: #4f4f4f !default;
$text-2: #828282 !default;
$text-3: #bdbdbd !default;
$text-4: #e0e0e0 !default;
$text-5: #f2f2f2 !default;