$dc-header-box-shadow: "0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.25)";
$dc-categories-border: "0.0625rem solid #ebe7dc";
$dc-categories-height-base: 3rem;
$dc-categories-height-base-sm: $dc-categories-height-base * 0.875;

#main-outlet {
  // We need to increase the separation between content and header due to categories-nav
  padding-top: $header-height + $dc-categories-height-base + $spacer;

  @if $header-categories == "" {
    padding-top: $header-height + $spacer;
  }
}

.d-header {
  box-shadow: none;

  @if $header-categories == "" {
    box-shadow: unquote($dc-header-box-shadow);
  }
}

.dc-categories {
  box-shadow: unquote($dc-header-box-shadow);

  @if $header-categories == "" {
    box-shadow: none;
    display: none !important;
  }
}

.dc-categories {
  align-items: center;
  background: $beige;
  border-top: unquote($dc-categories-border);
  display: flex;
  margin-top: $header-height;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform ease 200ms;
  width: 100%;
  // just below the header to avoid any false effect from the box-shadow
  z-index: z("header") - 1;

  &.animated {
    transform: translate3d(0, -100%, 0);
  }
}

.dc-categories-nav {
  list-style: none;
  display: flex;

  &-container {
    overflow-x: auto;
  }

  &,
  &-container {
    margin: 0 auto;
  }

  a {
    @extend %navigation-link;
  }

  > * {
    align-items: center;
    border-left: unquote($dc-categories-border);
    display: flex;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    height: $dc-categories-height-base-sm;
    padding: 0 $grid-gutter-width/2;
    text-transform: uppercase;
    white-space: nowrap;

    &:last-child {
      border-right: unquote($dc-categories-border);
    }

    @include media-breakpoint-up(lg) {
      height: $dc-categories-height-base;
    }
  }
}
