li.header-link {
  float: left;
  list-style: none;

  a {
    border: 1px solid transparent;
    color: color("gray-0");
    font-size: $font-up-1;
    font-weight: 600;
    line-height: $line-height-medium;
    padding: 0px 10px;
    transition: $transition;

    &:hover {
      color: color("gray-2");
    }
  }
}

.d-header {
  .header-buttons,
  .title {
    display: flex;
    align-items: center;
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}
