.modal {
  .modal-header {
    padding: 5px 10px;
  }
}

// Use percentages instead vh units to limit modal height and avoid iOS issues
.modal-inner-container,
.fixed-modal .modal-inner-container {
  max-height: 90%;
  margin-bottom: 0;
}

.modal-inner-container {
  -webkit-overflow-scrolling: touch;
}

// Avoid double scroll on all browsers but Safari iOS <= 12
body.modal-open {
  height: 100%;
  overflow: hidden;
}
