@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,900");
@import url("https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "variables";
@import "bootstrap/bootstrap-grid";
@import "functions";

@import "button";
@import "layout";
@import "type";
@import "card";
@import "pill";
@import "forms";
@import "utils";
@import "nav";

@import "connectors/categories-nav";
@import "connectors/dc-menu";
@import "connectors/hero";

@import "templates/components/categories-only";
@import "templates/components/cta-signup";
@import "templates/components/d-navigation";
@import "templates/components/list-controls";
@import "templates/components/navigation-bar";
@import "templates/components/topic-list";
@import "templates/components/dc-sidebar";
@import "templates/navigation/category";
@import "templates/composer";
@import "templates/topic";
@import "templates/user";
@import "templates/preferences";

@import "templates/list/dc-topic-author";
@import "templates/list/dc-topic-card";
@import "templates/list/visited-line";

@import "widgets/dc-collectives-alert";
@import "widgets/dc-logo";
@import "widgets/embedded-posts";
@import "widgets/header";
@import "widgets/post";
@import "widgets/post-controls";
@import "widgets/quick-access-panel";
@import "widgets/topic-timeline";
@import "widgets/user-menu";

@import "login";
@import "invites";
@import "search-advanced";

// Re-apply foundation styles with different variables to overwrite rules
// https://github.com/discourse/discourse/blob/master/app/assets/stylesheets/common/foundation/base.scss
$tertiary: $red;
$primary: $body-color;
$secondary: $body-bg;
$base-font-family: $font-family-sans-serif;
$base-font-size: $font-size-base;
@import "common/foundation/base";
