@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600");
@import url("https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "variables";
@import "bootstrap/bootstrap-grid";
@import "functions";

@import "button";
@import "layout";
@import "type";
@import "card";
@import "pill";

@import "templates/components/categories-only";
@import "templates/components/topic-list";
@import "templates/components/dc-show-more";
@import "templates/topic";

@import "templates/list/dc-topic-author";
@import "templates/list/dc-topic-card";

@import "widgets/post";

// Re-apply foundation styles with different variables to overwrite rules

// https://github.com/discourse/discourse/blob/master/app/assets/stylesheets/common/foundation/base.scss
$tertiary: $red;
$primary: $body-color;
$secondary: $body-bg;
$base-font-family: $font-family-sans-serif;
$base-font-size: $font-size-base;
@import "common/foundation/base";
