.container.posts,
.topic-category {
  margin-top: $spacer;
}

.container.posts {
  @include media-breakpoint-down(lg) {
    display: block;
    grid-template-areas: unset;
    grid-template-columns: unset;
    -ms-grid-columns: unset;
  }
}

.time-gap.small-action {
  margin-top: $spacer * 2;
}

.small-action.small-action,
.topic-status-info {
  max-width: 100%;
}

.dc-topic-title {
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-right: 4rem;
  }
}

nav.post-controls button.bookmark.bookmarked .d-icon,
#topic-footer-buttons .bookmark.bookmarked .d-icon-bookmark {
  color: $red;
}

.select-kit.dropdown-select-box .dropdown-select-box-header,
#topic-footer-buttons .btn {
  padding: 0.625rem 0.75rem;
  height: auto;
}

#topic-footer-buttons .btn:not(.btn-primary) {
  background: transparent;
  border: 0.0625rem solid $blue;
  font-weight: $font-weight-bold;

  &:hover {
    background: $blue;
  }

  &:not(:hover)
    .d-icon:not(.d-icon-flag):not(.d-icon-bookmark):not(.d-icon-caret-down) {
    color: $blue;
  }
}

#topic-footer-buttons .select-kit .select-kit-header .selected-name .name {
  font-weight: $font-weight-bold;
}

#topic-footer-buttons {
  max-width: 100%;
}

.topic-area > .loading-container,
.cooked .lightbox-wrapper img {
  width: 100%;
}
