.user-content {
  background: transparent;

  .d-icon-heart {
    color: $gray-100;
  }

  .top-section {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up(sm) {
    .top-section {
      margin-bottom: 3rem;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

.user-content-wrapper .show-mores {
  position: relative;
}

.user-messages-page .dc-topic-card-content.already-seen {
  opacity: 0.5;
}

.user-nav {
  border-bottom: 0.125rem solid $gray-ligth;
  display: flex;
  flex: 1;
  margin: 0;

  li > a {
    font-size: 1rem;
    border-width: 0.125rem;
    border: 0.125rem solid transparent;

    &.active,
    &:hover {
      color: $red !important;
      border-bottom-color: $red !important;
    }
  }
}

.user-main .about {
  box-shadow: $card-box-shadow;
}

.user-main .about .controls {
  > ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    > li {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 1rem;
      }

      &:first-child {
        margin-top: 1rem;

        .btn {
          background-color: $green;
          color: $beige;
        }
      }
    }
  }

  .btn {
    @extend .btn-default;
    @extend .btn-lg;
    margin: 0;

    .d-icon {
      display: none;
    }
  }
  // This is the only way to hide the Collapse/Expand button
  a[href=""] {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    > ul {
      flex-direction: row;

      li,
      li:not(:last-child),
      li:first-child {
        margin: 0;
        margin-left: 0.635rem;
      }
    }
  }
}

.user-main .about.has-background .user-profile-image {
  height: 12.5rem;
}

.user-main .about .secondary {
  display: none;
}

.user-main .about.has-background .details,
.user-main .about.no-background .details {
  padding: $grid-gutter-width / 2;
  display: flex;

  img.avatar {
    width: 6.25rem;
    height: 6.25rem;
  }

  .primary .primary-textual {
    .bio {
      max-height: none;

      p {
        margin: 1.5rem 0 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .primary {
      display: flex;
      position: relative;

      .controls {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.stats-section {
  .stats-title {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li,
  .linked-stat {
    margin: 0;
    padding: 0;
    margin: 0 1.5rem 1.5rem 0;

    > a {
      padding: 0 !important;
    }
  }

  .user-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    height: 7.5rem;
    background-color: $blue;
    border-radius: 0.25rem;

    .number,
    .label,
    .value {
      color: $white;
      font-style: normal;
      font-weight: normal;
    }

    .number,
    .value {
      font-size: 2.25rem;
      font-family: "Roboto", $font-family-sans-serif;
    }

    .label {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0.75rem;

      .d-icon-heart {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.75rem;
    }

    li,
    .linked-stat {
      margin: 0;
    }

    .user-stat {
      width: 100%;
    }
  }
}

.most-liked-section,
.top-replies-section {
  display: grid;
  grid-gap: 2.4375rem;
  grid-template-columns: 1fr;

  .stats-title {
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $gray-100;
  }

  .top-sub-section,
  .summary-user-list {
    width: 100%;
    margin-bottom: 0;

    > div > ul > li,
    > ul > li {
      height: auto;
      border-bottom: 0.0625rem solid $gray-ligth;
      border-left: none;

      &:not(:last-child) {
        margin: 0 0 0.78125rem;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &::before,
  &::after {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.most-liked-section .summary-user-list {
  > div > ul {
    max-width: 100%;

    > li {
      .user-info {
        margin-bottom: 0;

        .user-image {
          width: 2.5rem;
          height: 2.5rem;

          .user-image-inner a img {
            width: 100%;
            height: 100%;
          }
        }

        .user-detail {
          display: flex;
          float: none;
          height: 2.5rem;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          width: auto;
          margin: 0;

          .name {
            display: none;
          }
        }
      }
    }
  }
}

.top-replies-section {
  .stats-title {
    margin-bottom: 1.5rem;
  }

  .top-sub-section ul {
    max-width: 100%;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 3.25rem;
      margin-bottom: 0.8rem;

      a {
        order: 1;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: $gray-100;
      }

      .topic-info {
        order: 2;
      }

      br {
        display: none;
      }
    }
  }
}
// User Navigation
.user-secondary-navigation {
  .new-private-message {
    @extend .btn-default;
    margin-bottom: 1rem;

    .d-icon {
      display: none;
    }
  }

  .nav-stacked {
    li {
      margin-bottom: 1.4375rem;

      a {
        color: $gray-100;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.375rem;
        padding-top: 0;
        padding-bottom: 0;

        .d-icon {
          display: none;
        }
      }

      a.active {
        color: $red;
      }
    }
  }
}

.user-content-wrapper .user-additional-controls button {
  @extend .btn-default;

  .d-icon {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    margin-left: 0.8125rem;
  }
}

// Notifications section
.notification-history .notification {
  box-shadow: $card-box-shadow;
  padding: 0;
  background: $beige;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  &.unread {
    background-color: rgba($blue, 0.3);
  }

  li a {
    position: relative;

    .d-icon {
      color: $gray;
      margin: 1.5rem;
      width: 1.125rem;
      height: 1rem;
    }

    div {
      height: 100%;
      padding: 0 1.5rem;
      color: $red;

      span {
        &:first-child {
          color: $gray;
        }

        &:last-child {
          color: $red;
          margin-left: 0.25rem;
        }
      }

      // This is creates a border between the icon and the text
      &::before {
        content: "";
        width: 0.0625rem;
        background-color: $gray-ligth-100;
        position: absolute;
        left: 4rem;
        top: 0;
        bottom: 0;
      }
    }
  }

  .time {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $gray-200;
    padding-right: 1.5rem;
    margin-right: 0;
  }
}

// User Badges
.user-content.user-badges-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-gap: $grid-gutter-width;
}

.user-content.user-badges-list .badge-card {
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  .badge-contents {
    padding: 0;
    min-height: 7rem;
    box-sizing: border-box;

    .badge-icon {
      width: 6.6875rem;
      position: relative;

      a {
        width: auto;
      }

      .d-icon {
        color: $red !important;
      }

      &::after {
        content: "";
        width: 0.0625rem;
        background-color: $gray-ligth-100;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    .badge-info-item {
      h3 {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: $gray-200;
      }

      .badge-summary {
        a {
          color: $red;
        }

        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 0.9375rem;
        color: $gray-200;
      }
    }
  }
}
