.user-content {
  background: transparent;
}

.user-content-wrapper .show-mores {
  position: relative;
}

.user-messages-page .dc-topic-card-content.already-seen {
  opacity: 0.5;
}

.user-nav {
  overflow-x: scroll;
  min-height: 3rem;

  li > a {
    font-size: 1rem;
    border-width: 0.125rem;

    &.active,
    &:hover {
      color: $blue !important;
      border-bottom-color: $blue !important;
    }
  }
}

.stats-section {
  .stats-title {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li,
  .linked-stat {
    margin: 0;
    padding: 0;
    margin: 0 1.5rem 1.5rem 0;

    > a {
      padding: 0 !important;
    }
  }

  .user-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    height: 7.5rem;
    background-color: $blue;
    border-radius: 0.25rem;

    .number,
    .label,
    .value {
      color: $white;
    }

    .number,
    .value {
      font-size: 2.25rem;
    }

    .label {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0.75rem;
    }
  }

  @include media-breakpoint-down(sm) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.75rem;
    }

    li,
    .linked-stat {
      margin: 0;
    }

    .user-stat {
      width: 100%;
    }
  }
}

.user-main .about {
  box-shadow: $card-box-shadow;
}

.user-main .about .controls {
  > ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;

    > li {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 1rem;
      }

      &:first-child {
        margin-top: 1.5rem;

        .btn {
          background-color: $green;
          color: $beige;
        }
      }
    }
  }

  .btn {
    align-items: center;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 0.0625rem solid $blue;
    color: $blue;
    display: flex;
    font-size: 0.875rem;
    font-weight: bold;
    height: 2.5rem;
    justify-content: center;

    .d-icon {
      display: none;
    }

    &:hover {
      background-color: $blue;
      color: $beige;
    }
  }
  // This is the only way to hide the Collapse/Expand button
  a[href=""] {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    > ul {
      flex-direction: row;

      > li:not(:last-child) {
        margin-right: 3.5rem;
      }

      li:first-child {
        margin-top: 0;
      }
    }
  }
}

.user-main .about.has-background .user-profile-image {
  height: 12.5rem;
}

.user-main .about .secondary {
  display: none;
}

.user-main .about.has-background .details,
.user-main .about.no-background .details {
  padding: 1.5rem 3rem;

  img.avatar {
    width: 6.25rem;
    height: 6.25rem;
  }

  .primary .primary-textual {
    padding-left: 0;

    .bio {
      max-height: none;

      p {
        margin: 1.5rem 0 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .primary .primary-textual {
      padding-left: 7.75rem;
    }
  }
}
