{{!-- https://github.com/discourse/discourse/blob/master/app/assets/javascripts/discourse/templates/components/categories-only.hbs --}}
{{#if categories}}
<h2 class="dc-heading">{{theme-i18n "dc.categories.collectives"}}</h2>
{{#each categories as |c|}}
<a class="dc-category dc-card" href={{c.url}}>
  <div class="dc-category__title dc-card__title">
    {{c.name}}
  </div>
  <div class="dc-category__description dc-card__text">
    {{#if c.description_excerpt}}
    {{{dir-span c.description_excerpt}}}
    {{/if}}
  </div>
</a>
{{/each}}
{{/if}}