{{!-- https://github.com/discourse/discourse/blob/master/app/assets/javascripts/discourse/templates/components/categories-only.hbs --}}
{{#if categories}}
<h2 class="dc-heading">{{theme-i18n "dc.categories.collectives"}}</h2>
{{#each categories as |c|}}
<div class="dc-category dc-card">
  <div class="dc-category__title">
    {{category-title-link category=c}}
  </div>
  <div class="dc-category__description">
    {{#if c.description_excerpt}}
    {{{dir-span c.description_excerpt}}}
    {{/if}}
  </div>
</div>
{{/each}}
{{/if}}