{{!-- https://github.com/discourse/discourse/blob/master/app/assets/javascripts/discourse/templates/components/categories-and-latest-topics.hbs --}}
<div class='column categories'>
  {{categories-only categories=categories}}
</div>