{{#if topicCategories}}
  <div class="mt-4 mb-2 dc-categories-container">
    <div class="flex-row d-flex align-items-center justify-content-between">
      <h2 class="m-0 dc-heading">
        {{theme-i18n "dc.categories.categories.title"}}
      </h2>
      {{#if showCategoryAdmin}}
        {{categories-admin-dropdown
          onChange=(action "selectCategoryAdminDropdownAction")
        }}
      {{/if}}
    </div>
    <div class="mt-4 dc-row">
      {{#each topicCategories as |c|}}
        <div class="dc-col-sm-6 dc-col-lg-12">
          {{dc-category-card category=c}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}