.dc-topic {
  .avatar-col {
    max-width: 3.75rem;
    padding-right: 0;
  }
}

.dc-topic-bulk-select {
  position: absolute;
  right: 4px;
  top: 4px;
  margin: 0;
}

.dc-topic.dc-card {
  position: relative;
}

.dc-topic-small.dc-card {
  padding-bottom: 0;
  height: 10.5rem;

  .dc-card__title {
    font-size: $font-size-base;
  }

  footer {
    border-top: 0.0625rem solid $gray-300;
    padding: 0.625rem 0;
    width: 100%;
  }
}
