.dc-topic {
  .avatar-col {
    max-width: 3.75rem;
    padding-right: 0;
  }
}

.dc-topic-small.dc-card {
  padding-bottom: 0;

  footer {
    border-top: 0.0625rem solid $gray-300;
    width: 100%;
  }
}
