$divider-color: $primary;

.dc-topic-divider {
  color: $divider-color;
  text-align: center;
  margin: 0 0 $spacer;
  position: relative;

  &::after,
  &::before {
    content: "";
    display: block;
    height: 0.0625rem;
    width: 35%;
    background-color: $divider-color;
    position: relative;

    @include media-breakpoint-up(md) {
      width: 45%;
    }
  }

  &::before {
    top: 0.75rem;
  }

  &::after {
    margin-left: auto;
    top: -0.75rem;
  }
}
