.header-btn {
  align-items: center;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  // Discourse applies by default a padding rule: padding: 6px 10px;
  padding: 0.75rem 1rem !important;
}

.d-header {
  background: $beige;
  height: $header-height;
  margin-bottom: 0;
  // Allow to swap by dc-header-component instead
  visibility: hidden !important;

  .wrap {
    max-width: none;
    width: 100%;
  }

  .title {
    max-width: unset;
    overflow: unset;
    white-space: unset;
    min-width: unset;
  }
}

.d-header .panel {
  display: flex;

  // These are some styles applied by discourse, by default the display is "table"
  &.clearfix::before,
  &.clearfix::after {
    display: none;
  }

  // Allow the search icon to render alongside header-buttons although is placed in another node
  ul[role="navigation"] {
    width: 100%;
    margin-left: 0;
  }

  @include media-breakpoint-up(md) {
    flex: auto;
    justify-content: space-between;
    margin-left: 1rem;
    width: 100%;
  }
}

.d-header .header-buttons {
  align-items: initial;
  flex-shrink: 0;
  margin-top: 0;
  order: 3;

  .login-button {
    background: transparent;
    border: 0.0625rem solid $gray;
    color: $gray;
    transition: background 0.216s ease 0s, color 0.216s ease 0s;

    &:hover {
      background-color: $beige-200;
    }
  }

  .donate-button {
    background-color: $red;
    color: $white;
    margin-left: 0.4375rem;

    &:hover {
      background: $scarlet;
    }
  }
}

.d-header.with-user .header-buttons {
  order: 2;
}

.d-header .d-header-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;

  li {
    order: 1;

    & + li {
      margin-left: $spacer/2;
    }
  }

  #inbox {
    order: 2;
  }

  #notifications {
    order: 3;
  }

  #current-user {
    order: 4;
  }

  .icon.btn-flat.material-icons {
    font-size: $font-size-base * 1.25;
    color: $dark;
    height: auto;
    width: auto;
  }

  .badge-notification {
    left: -2px;
    right: auto;
  }
}

.dc-custom-headers-links {
  display: flex;
}

.dc-header-link {
  @extend %navigation-link;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0 0.625rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.d-header.with-user .d-header-icons {
  position: relative;
  justify-content: flex-end;

  .dc-custom-headers-links {
    position: absolute;
    left: 0;
  }
}

.title-wrapper.title-wrapper {
  display: flex;
  margin-left: 0;

  @include media-breakpoint-up(md) {
    margin-left: 1.5rem;
  }
}

// Hide the custom header links when the user scrolls in a topic
.extra-info-wrapper + .panel .dc-custom-headers-links {
  display: none !important;
}

.d-header .extra-info-wrapper {
  padding: 0;

  .extra-info {
    &:not(.two-rows) {
      min-height: unset;
    }

    .header-title {
      font-size: 1.2rem;
      line-height: 1.25;
      margin: 0;
    }
  }
}

.d-header {
  .extra-info-wrapper {
    -ms-flex: 4;
    flex: 4;
  }
}

.d-header .extra-info-wrapper + .panel {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin: 0;

  // Allow the search icon to render alongside header-buttons although is placed in another node
  ul[role="navigation"] {
    width: auto;
  }
}
