.d-header {
  background: $beige;
  height: $header-height;
  margin-bottom: 0;

  .wrap {
    max-width: none;
    width: 100%;
  }
}

.d-header .panel {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  flex: auto;
  width: 100%;

  // These are some styles applied by discourse, by default the display is "table"
  &.clearfix::before,
  &.clearfix::after {
    display: none;
  }
}

.d-header .header-buttons {
  order: 3;
  margin-left: 1rem;
  flex-shrink: 0;
}

.d-header.with-user .header-buttons {
  order: 2;
}

.d-header .d-header-icons {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;

  li {
    order: 1;

    & + li {
      margin-left: $spacer/2;
    }
  }

  #inbox {
    order: 2;
  }

  #notifications {
    order: 3;
  }

  #current-user {
    order: 4;
  }

  .icon.btn-flat.material-icons {
    font-size: $font-size-base * 1.25;
    color: $dark;
    height: auto;
    width: auto;
  }

  .badge-notification {
    left: -2px;
    right: auto;
  }
}

.dc-custom-headers-links {
  display: flex;

  .dc-header-link {
    @extend %navigation-link;
    font-weight: $font-weight-bold;
    margin-right: 1rem;
  }
}

.d-header.with-user .d-header-icons {
  position: relative;
  justify-content: flex-end;

  .dc-custom-headers-links {
    position: absolute;
    left: 0;
  }
}
