.dc-sidebar-visible .category-actions {
  @include media-breakpoint-up(lg) {
    // As sidebar will render on large screens
    #create-topic {
      display: none;
    }
  }
}

.category-heading {
  margin-bottom: 2rem;
  width: 100%;

  &.with-background {
    background-position: center;
    background-size: cover;
    display: flex;
    height: 11rem;
    margin-bottom: 3rem;

    .category-logo {
      margin-top: auto;
      margin-bottom: -2rem;
    }

    .aspect-image {
      --max-height: 4.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    &.with-background {
      height: 22.5rem;
      margin-bottom: 5rem;

      .category-logo {
        margin-bottom: -4rem;
      }

      .aspect-image {
        --max-height: 9rem;
      }
    }
  }
}

// Avoid to tweak template to hide description
.category-heading p {
  display: none;
}
