.category-heading {
  margin-bottom: 2rem;
  width: 100%;
}

// Avoid to tweak template to hide description
.category-heading p {
  display: none;
}

// Avoid default behaviour background to shown as body background
body {
  background-image: none !important;
}
