<div class="dc-categories">
  <div class="dc-categories-nav-container">
    <ul class="dc-categories-nav">
      <li>
        STUDENT DEBT
      </li>
      <li>
        MEDICAL DEBT
      </li>
      <li>
        CREDIT CARD DEBT
      </li>
      <li>
        AUTO LOANS
      </li>
      <li>
        STUDENT DEBT STRIKE
      </li>
      <li>
        OTHERS
      </li>
    </ul>
  </div>
</div>